<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_user.css') }}">
    <title>Plasează Comanda</title>

</head>
<body>
    <div class="container">
        <h1>Plasează Comanda</h1>
        <form action="/order" method="post">
            <div class="form-group">
                <label for="name">Nume Complet</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Număr de Telefon</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="address">Adresă</label>
                <textarea id="address" name="address" rows="3" required></textarea>
            </div>
            <h2>Produse</h2>
            <ul class="product-list">
                {% for product in data %}
                <li class="product-item">
                    <div class="product-info">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image">
                        <span class="product-name">{{ product.name }}</span>
                        <span class="product-price">{{ product.price }} RON</span>
                    </div>
                    <div class="quantity-input">
                        <label for="quantity_{{ product.id }}">Cantitate:</label>
                        <input type="number" id="quantity_{{ product.id }}" name="quantity_{{ product.id }}" min="0" value="0">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Trimite Comanda</button>
        </form>
        <form action="/log_out">
            <button>Deloghează</button>
        </form>
    </div>
</body>
</html>