<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_succes.css') }}">
    <title>Comandă Plasată</title>
</head>
<body>
    <div class="container">
        <h1>Comanda a fost plasată cu succes!</h1>
        <p>Vă mulțumim pentru comanda dvs.</p>
        <p>Comanda va fi livrată la adresa specificată.</p>
        <p><strong id="name">Nume:</strong> {{ name }}</p>
        <p><strong id="phone">Telefon:</strong> {{ phone }}</p>
        <p><strong id="adress">Adresă de livrare:</strong> {{ address }}</p>
        <div class="total" id="total_price">
            <strong>Total:</strong> {{ total_price }} <strong>RON</strong>
        </div>
        <a href="/" class="back-btn">Înapoi la pagina principală</a>
    </div>
</body>
</html>